body {
    counter-reset: score;
}

input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 130px;
    top: 0;
    z-index: 20;

}
input[type=checkbox]:focus {
    appearance: none;
    outline: none;    
}
input:checked {
    counter-increment:score;
}
.total-count{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    text-align: center;
}
.total-count::after{
    content: counter(score);
}


